.talknd { font-size: 1em; position: absolute; right: 60px; bottom: 11px; background: transparent;}
.chrome {right: 60px;top: 90px;}
.ie {top: 90px;right: 280px;}
.html5 {top: 90px;left: 60px;}
.sarimin {right: 100px;top: 130px;}
.css3 {left: 150px;top: 130px;}