<head>
<title>{{site.name}} - {{site.description}}</title>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
<meta name="author" content="Heru Setiawan" />
<meta name="description" content="{{site.description}}" />
<link rel="stylesheet" href="/css/main.css?v=1"/>
<link rel="stylesheet" href="{{ page.css }}"/> 
<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
<link rel="alternate" type="application/rss+xml" href="http://timbul.github.com/atom.xml"/>
</head>